.pill-nav {
  text-align: center;
  padding: 10px;
}

/* Style the links inside the pill navigation menu */
.pill-nav a {
  display: inline-block;

  padding: 10px;
  color: white; 
  background-color: #ffffff00;
  transition: background-color 0.3s;

  text-decoration: none;
  font-family: 'Capriola', sans-serif;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
}
  
/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: #ffffff3d;
  color: white;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: #ffffff3d;
  color: white;
}

.pill-nav img {
  height: 20px;
  width: auto;
  color: white;
}