.projectlisting {
    display: inline-grid;
    column-gap: 20px;
}

.projectlisting-pic {
    margin: auto;
    grid-column: 1;
    grid-row: 1;
}

.projectlisting-desc {
    margin: auto;
    grid-column: 2;
    grid-row: 1;
}

.projectlisting-desc-lang {
    color: #bada55;
    font-weight: 700;
}

.projectlisting-desc-lib {
    color: #f07d48;
    font-weight: 700;
}

.projectlisting-desc-platform {
    color: #A9A9A9;
    font-weight: 700;
}