.projectlisting {
    display: inline-grid;
    column-gap: 20px;
}

.projectlisting-pic {    
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
    place-self: center;
}

.projectlisting-desc {
    grid-column: 2;
    grid-row: 1;
    place-self: center;
}

.projectlisting-desc-lang {
    color: #bada55;
    font-weight: 700;
}

.projectlisting-desc-lib {
    color: #f07d48;
    font-weight: 700;
}

.projectlisting-desc-platform {
    color: #A9A9A9;
    font-weight: 700;
}


@media screen and (max-width: 600px) {
    .projectlisting-desc {
        grid-column: 1;
        grid-row: 2;
    }
}