---
title: true
styles: true
---

  
// Background colours
$backgroundColour: linear-gradient(to bottom, #3399ff 20%, #ff99cc 100%) !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: transparent !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #da82ff !default;
$hoverColour: #8b32b1 !default;
$activeColour: #c78be0 !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;
$featureColour: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Georgia, serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75,
  text-align: justify,
  text-justify: inter-word
) !default;

$headingtype: (
  font-family: '"Merriweather", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75,
  text-align: justify,
  text-justify: inter-word
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68,
  text-align: justify,
  text-justify: inter-word
) !default;

@import "alembic";

body {
  background-attachment: fixed;
}

.header {
  .title {
    color: white;
    font-size: 200% !important;
    text-align: center;
    padding: 25px 0;
  }
  .container {
    background-color: transparent;
    place-content: center;
    
    .nav {
     text-align: center;
    }
    
    .nav a {
      color: $white;
    }
    .nav a:hover {
      color: $hoverColour;
    }
    .nav a:active {
      color: $activeColour;
    }
  } 
}

.content {
  width: 95%;
  background-color: $white;
  border-radius: 7px;
  padding: 25px;
}

.feature {
  padding-bottom: 0rem !important;
  margin-bottom: 0rem !important;
  padding-left: 0px;
  padding-right: 0px;
  color: $featureColour !important;
  font-size: 200% !important;
  .container {
    min-height: 200px !important;
    max-width: 98%;
    background-color: transparent;
  }
}
